<style type="text/css">
	
	#container{
		background-color: #de9440;
	}

</style>
{% extends "base.html" %}
{% block content %}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10">
		        <h1 class="text-uppercase text-white font-weight-bold">Mentions légales</h1>
		    </div>
		    <div>
		    	<p>Ce site a été crée par Hélène Courau. Il est hébergé sur Heroku.</p>
		    	<p>La base de données provient d'<a href="https://fr.openfoodfacts.org/" target = "blank">OpenFoodFacts</a>.</p>
		    	<p>Les icônes et images de ce site ont été mises à disposition par <a href="https://icomoon.io/" target = "blank">IconMoon</a>, <a href="https://fontawesome.com/" target = "blank">FontAwesome</a> et <a href="https://thenounproject.com/" target = "blank">The Noun Project.</a></p>
		    	<p>Crédits : Photo by Kawin Harasai on Unsplash</p>
		    </div>  
		</div>
	</div>
</header>	
{% endblock %}